@charset "utf-8";
body {
    background-color: #ecf0f1;
    font-family: Arial;
}
h2 {
    color: #34495e;
    font-weight: bold;
    letter-spacing: 0.4em;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
}
.dtable {
   border-spacing: 0;
   border-collapse: collapse;
   vertical-align: middle;
}
.dtable th {
    padding: 5px 5px;
    color: #ecf0f1;
   background-color: #34495e;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}
.dtable th:first-child {
   border-left: 1px solid #34495e;
}
.dtable th:last-child {
   border-right: 1px solid #34495e;
}
.dtable tr:nth-child(odd) {
    height: 25px;
    color:#34495e;
    background-color: #bdc3c7;
    font-weight: 600;
}
.dtable tr:nth-child(even) {
    height: 25px;
    color:#34495e;
    background-color: #ecf0f1;
}
.dtable tr:last-child {
   border-bottom: 1px solid #34495e;
}
.dtable td:first-child {
   border-left: 1px solid #34495e;
}
.dtable td:last-child {
    border-right: 1px solid #34495e;
}
.dtable td:nth-child(1) {
   text-align: center;
}
.dtable td:nth-child(2) {
   text-align: center;
}
.dtable td:nth-child(4) {
   text-align: center;
}
.dtable td:nth-child(5) {
   text-align: center;
}
.dtable td:nth-child(8) {
   text-align: center;
}
.dtable tbody tr:hover {
    background: yellow;
}
a {
    padding: 5px 15px 5px 15px;
    background-color: #34495e;
    text-decoration: none;
}
a:link {
    color: #ecf0f1;
}
a:visited {
    color: #ecf0f1;
}
a:hover {
    color: yellow;
}
a:active {
    color: yellow;
    font-weight: 600;
    padding: 5px 14px 5px 13px;
}
.frtable {
   border-spacing: 0px;
   border-collapse: collapse;
   vertical-align: middle;
}
.frtable caption {
    padding: 5px 5px;
    color: #ecf0f1;
    background-color: #34495e;
    letter-spacing: 0.1em;
    text-transform: uppercase;
   text-align: right;
   font-weight: 600;
  border: 1px solid #34495e;
}
.frtable td:nth-child(1) {
   text-align: right;
   height: 25px;
   color: #34495e;
   background-color: #bdc3c7;
   font-weight: 600;
   padding: 3px 10px 3px 10px;
}
.frtable td:nth-child(2) {
   text-align: left;
   height: 25px;
   color: #34495e;
   padding: 3px 10px 3px 10px;
}
.frtable td:last-child {
   border-bottom: 1px solid #bdc3c7;
   border-right: 1px solid #bdc3c7;
}
.frtable tr:nth-child(5) {
   vertical-align: top;
}
input[type="text"]{
    border: 0px;
    height: 25px;
    width: 100%;
    background-color: #ecf0f1;
    color: #34495e;
}
input[type="date"]{
    border: 0px;
    height: 25px;
    width: 100%;
    background-color: #ecf0f1;
    color: #34495e;
}
input[type="tel"]{
    border: 0px;
    height: 25px;
    width: 100%;
    background-color: #ecf0f1;
    color: #34495e;
}
input:focus {
    background-color: #fff;
}
textarea {
    border: 0px;
    height: 25px;
    width: 100%;
    background-color: #ecf0f1;
    color: #34495e;
    height: 100px;
}
textarea:focus {
    background-color: #fff;
}
input[type="submit"] {
    background-color: #34495e;
    color: #ecf0f1;
    height: 25px;
    width: 49%;
    border: 0px;
}
input[type="reset"] {
    background-color: #34495e;
    height: 25px;
    width: 49%;
    color: #ecf0f1;
    font-weight: 600;
    border: 0px;
}